Q1.List any five functions of the pandas library with execution.

In [2]:
import pandas as pd

data=pd.read_csv('https://people.sc.fsu.edu/~jburkardt/data/csv/airtravel.csv')
print(data.head())

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [24, 27, 22],
        'City': ['New York', 'San Francisco', 'Los Angeles']}
df = pd.DataFrame(data)

print(df)

df.head()

df.tail(1)

df_dropped = df.drop('City', axis=1)
print(df_dropped)

  Month   "1958"   "1959"   "1960"
0   JAN      340      360      417
1   FEB      318      342      391
2   MAR      362      406      419
3   APR      348      396      461
4   MAY      363      420      472
      Name  Age           City
0    Alice   24       New York
1      Bob   27  San Francisco
2  Charlie   22    Los Angeles
      Name  Age
0    Alice   24
1      Bob   27
2  Charlie   22

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [3]:
import pandas as pd

# Sample DataFrame
data = {'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8], 'C': [9, 10, 11, 12]}
df = pd.DataFrame(data)

def reindex_dataframe(df):
  new_index=pd.Index(range(1,2*len(df)+1,2))
  df.index=new_index
  return df

df_reindexed=reindex_dataframe(df)
print(df_reindexed)

   A  B   C
1  1  5   9
3  2  6  10
5  3  7  11
7  4  8  12

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [4]:
import pandas as pd

# Sample DataFrame
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# Function to calculate the sum of the first three values in the 'Values' column
def sum_first_three(df):
    # Get the first three values from the 'Values' column
    first_three_values = df['Values'].iloc[:3]

    # Calculate the sum
    total_sum = first_three_values.sum()

    # Print the sum
    print("The sum of the first three values is:", total_sum)

# Call the function
sum_first_three(df)

The sum of the first three values is: 60

Q4.Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [5]:
import pandas as pd

#Sample Dataframe
data={'Text':['this is a test','Python is user friendly','I am a guy']}
df=pd.DataFrame(data)

#Create a function called word_count
def add_word_count(df):
  df['Word_Count']=df['Text'].apply(lambda x:len(x.split()))
  return df

#print the result
df_with_word_count=add_word_count(df)
print(df_with_word_count)

                      Text  Word_Count
0           this is a test           4
1  Python is user friendly           4
2               I am a guy           4

Q5. How are DataFrame.size() and DataFrame.shape() different?

size gives the total number of elements in the DataFrame (rows * columns).

shape gives a tuple containing the number of rows and columns separately.

Q6. Which function of pandas do we use to read an excel file?

In [ ]:
df=pd.read_excel('sample.xlsx')

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [ ]:
import pandas as pd

def extract_username(df):
  df['Username']=df['Email'].str.split('@').str[0]
  return df

# Example usage:
data = {'Email': ['john.rice@example.com', 'jane.smith@mydomain.org', 'bob.jones@website.net']}
df = pd.DataFrame(data)

# Apply the function
df = extract_username(df)

print(df)

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:

A B C

0 3 5 1

1 8 2 7

2 6 9 4

3 2 3 5

4 9 1 2

Your function should select the following rows:
A B C

1 8 2 7

4 9 1 2

The function should return a new DataFrame that contains only the selected rows.

In [ ]:
import pandas as pd

def filter_rows(df):
    # Filter rows where A > 5 and B < 10
    filtered_df = df[(df['A'] > 5) & (df['B'] < 10)]
    return filtered_df

# Example usage:
data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}

df = pd.DataFrame(data)

# Apply the function
filtered_df = filter_rows(df)

print(filtered_df)

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [ ]:
import pandas as pd

def calculate_statistics(df):
    # Calculate the mean, median, and standard deviation of the 'Values' column
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_dev = df['Values'].std()

    return mean_value, median_value, std_dev

# Example usage:
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# Apply the function
mean, median, std_dev = calculate_statistics(df)

print(f"Mean: {mean}")
print(f"Median: {median}")
print(f"Standard Deviation: {std_dev}")

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [ ]:
import pandas as pd

def add_moving_average(df):
    # Ensure 'Date' is a datetime column for correct time-based operations
    df['Date'] = pd.to_datetime(df['Date'])

    # Sort the DataFrame by 'Date' to ensure correct order
    df = df.sort_values('Date')

    # Calculate the 7-day moving average for the 'Sales' column
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()

    return df

# Sample DataFrame
data = {'Date': ['2025-03-01', '2025-03-02', '2025-03-03', '2025-03-04', '2025-03-05',
                 '2025-03-06', '2025-03-07', '2025-03-08', '2025-03-09', '2025-03-10'],
        'Sales': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]}

df = pd.DataFrame(data)

# Add the moving average column
df = add_moving_average(df)

print(df)

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date

0 2023-01-01

1 2023-01-02

2 2023-01-03

3 2023-01-04

4 2023-01-05

Your function should create the following DataFrame:

Date Weekday

0 2023-01-01 Sunday

1 2023-01-02 Monday

2 2023-01-03 Tuesday

3 2023-01-04 Wednesday

4 2023-01-05 Thursday

The function should return the modified DataFrame.

In [ ]:
import pandas as pd

def add_weekday_column(df):
    # Ensure 'Date' is a datetime column
    df['Date'] = pd.to_datetime(df['Date'])

    # Create the 'Weekday' column with the weekday name
    df['Weekday'] = df['Date'].dt.strftime('%A')

    return df

# Sample DataFrame
data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}
df = pd.DataFrame(data)

# Add the 'Weekday' column
df = add_weekday_column(df)

print(df)

Q12.Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [16]:
import pandas as pd

def filter_dates(df):
    # Ensure 'Date' column is in datetime format
    df['Date'] = pd.to_datetime(df['Date'])

    # Filter rows where 'Date' is between '2023-01-01' and '2023-01-31'
    start_date = '2023-01-01'
    end_date = '2023-01-31'

    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)

    # Return filtered dataframe
    return df[mask]
    filtered_df = filter_dates(df)

Q13.To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

In [ ]:
#The first and foremost necessary library to import when using the basic functions of pandas is the pandas library itself. You typically import it as follows:
import pandas as pd