Q1. Write a code to print the data present in the second row of the dataframe, df.

In [ ]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [ ]:
print(df['duration'][1])

3

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In [ ]:
print(df.loc[:3])

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [ ]:
print(df.iloc[:3])

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [ ]:
reindex=[3,0,1,2]
new_df=df.iloc[reindex]
print(new_df.loc[2])
print(new_df.iloc[2])

course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

When using df.loc the output came as Big Data with a duration of 6 months and when using df.iloc the output came as Machine Learning with a duration of 3 months

Q4. Write a code to find the following statistical measurements for the above dataframe df1:

(i) mean of each and every column present in the dataframe.

(ii) standard deviation of column, ‘column_2’

In [ ]:
# Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [ ]:
df1.mean()

column_1    0.701739
column_2    0.557546
column_3    0.491451
column_4    0.361491
column_5    0.542153
column_6    0.397384
dtype: float64

In [ ]:
df1.std()

column_1    0.168276
column_2    0.231696
column_3    0.209331
column_4    0.264102
column_5    0.317744
column_6    0.286176
dtype: float64

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.

In [ ]:
import pandas as pd
import numpy as np

# Sample DataFrame
data = {
    'column_1': [10, 20, 30, 40],
    'column_2': [1.5, 2.5, 3.5, 4.5]
}

df = pd.DataFrame(data)

# Replace the second row (index 1) of 'column_2' with a string
df.loc[1, 'column_2'] = 'invalid_data'

# Try to calculate mean of column_2
try:
    mean_val = pd.to_numeric(df['column_2'], errors='coerce').mean()
    print("Mean of column_2 (excluding invalid entries):", mean_val)
except Exception as e:
    print("Error calculating mean:", e)

Mean of column_2 (excluding invalid entries): 3.1666666666666665

<ipython-input-38-1ba2b530fee9>:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'invalid_data' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[1, 'column_2'] = 'invalid_data'

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In [ ]:
import pandas as pd

data = pd.Series([10, 20, 30, 40, 50])

# Rolling mean with window size 3
rolling_mean = data.rolling(window=3).mean()

# Expanding mean
expanding_mean = data.expanding().mean()

# Exponentially weighted moving average
ewm_mean = data.ewm(span=3).mean()

print(rolling_mean)

print(expanding_mean)

print(ewm_mean)

0     NaN
1     NaN
2    20.0
3    30.0
4    40.0
dtype: float64
0    10.0
1    15.0
2    20.0
3    25.0
4    30.0
dtype: float64
0    10.000000
1    16.666667
2    24.285714
3    32.666667
4    41.612903
dtype: float64

Q7. Write a code to print only the current month and year at the time of answering this question.

In [ ]:
from datetime import datetime

# Get current date and time
now = datetime.now()

# Extract and print month and year
print(now.strftime("%B %Y"))  # Example output: May 2025

May 2025

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [ ]:
import pandas as pd

d1 = pd.to_datetime(input("Enter first date (YYYY-MM-DD): "))
d2 = pd.to_datetime(input("Enter second date (YYYY-MM-DD): "))
delta = abs(d2 - d1)

print(f"\nDays: {delta.days}")
print(f"Hours: {int(delta.total_seconds() // 3600)}")
print(f"Minutes: {int(delta.total_seconds() // 60)}")

Enter first date (YYYY-MM-DD): 2023-08-11
Enter second date (YYYY-MM-DD): 2024-09-10

Days: 396
Hours: 9504
Minutes: 570240

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd

def get_file_path():
    return input("Enter the path to the CSV file: ").strip()

def get_column_name(df):
    print("\nAvailable columns:", ', '.join(df.columns))
    return input("Enter the name of the column to convert to categorical: ").strip()

def get_category_order(unique_values):
    print("\nUnique values in the column:", ', '.join(map(str, unique_values)))
    user_input = input("Enter the desired category order as comma-separated values: ")
    return [val.strip() for val in user_input.split(',')]

def convert_to_categorical(df, column, categories):
    df[column] = pd.Categorical(df[column], categories=categories, ordered=True)
    return df.sort_values(by=column)

def main():
    try:
        # Step 1: Load CSV
        file_path = get_file_path()
        df = pd.read_csv(file_path)

        # Step 2: Get column name and check validity
        column = get_column_name(df)
        if column not in df.columns:
            print(f"Column '{column}' does not exist in the dataset.")
            return

        # Step 3: Get category order
        unique_vals = df[column].dropna().unique()
        category_order = get_category_order(unique_vals)

        # Step 4: Convert and sort
        sorted_df = convert_to_categorical(df, column, category_order)

        # Step 5: Show result
        print("\nData sorted by categorical column:")
        print(sorted_df)

    except FileNotFoundError:
        print("The file path provided does not exist.")
    except pd.errors.EmptyDataError:
        print("The CSV file is empty.")
    except pd.errors.ParserError:
        print("The file could not be parsed. Check for formatting issues.")
    except Exception as e:
        print(f"An error occurred: {e}")

if __name__ == "__main__":
    main()

Enter the path to the CSV file: file_path
The file path provided does not exist.

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

def main():
    # Prompt user to enter the CSV file path
    file_path = input("Enter the path to the sales CSV file: ").strip()

    try:
        # Load the CSV data into a DataFrame
        df = pd.read_csv(file_path)

        # Ensure the necessary columns exist
        if not {'Date', 'Category', 'Sales'}.issubset(df.columns):
            print("CSV file must contain 'Date', 'Category', and 'Sales' columns.")
            return

        # Convert 'Date' to datetime format
        df['Date'] = pd.to_datetime(df['Date'])

        # Pivot the data to create a stacked format
        pivot_df = df.pivot_table(index='Date', columns='Category', values='Sales', aggfunc='sum', fill_value=0)

        # Sort by date
        pivot_df = pivot_df.sort_index()

        # Plot stacked bar chart
        pivot_df.plot(kind='bar', stacked=True, figsize=(12, 6))

        plt.title("Sales by Product Category Over Time")
        plt.xlabel("Date")
        plt.ylabel("Sales")
        plt.legend(title='Category')
        plt.tight_layout()
        plt.xticks(rotation=45)
        plt.show()

    except FileNotFoundError:
        print("The file was not found. Please check the path and try again.")
    except pd.errors.EmptyDataError:
        print("The file is empty or corrupted.")
    except Exception as e:
        print(f"An error occurred: {e}")

if __name__ == "__main__":
    main()

Enter the path to the sales CSV file: /path/sales.csv
The file was not found. Please check the path and try again.

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.

In [51]:
import pandas as pd

def main():
    # Prompt the user for the CSV file path
    file_path = input("Enter the path to the CSV file containing student data: ")

    try:
        # Read the CSV file into a Pandas DataFrame
        df = pd.read_csv(file_path)

        # Check if necessary columns exist
        if 'Test Score' not in df.columns:
            print("Error: The file must contain a 'Test Score' column.")
            return

        # Calculate mean, median, and mode
        mean_score = df['Test Score'].mean()
        median_score = df['Test Score'].median()
        mode_score = df['Test Score'].mode()

        # Format the results into a DataFrame
        results = pd.DataFrame({
            'Statistic': ['Mean', 'Median', 'Mode'],
            'Value': [mean_score, median_score, ', '.join(map(str, mode_score.tolist()))]
        })

        # Display the results in a table
        print("\nTest Score Statistics:")
        print(results.to_string(index=False))

    except FileNotFoundError:
        print("Error: File not found. Please check the file path and try again.")
    except pd.errors.EmptyDataError:
        print("Error: The file is empty or not a valid CSV.")
    except Exception as e:
        print(f"An error occurred: {e}")

if __name__ == "__main__":
    main()

Enter the path to the CSV file containing student data: /path.csv
Error: File not found. Please check the file path and try again.